<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'dairy/css/bootstrap.min.css' %}">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" >Dairy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'dashboard'%}">Dashboard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{%url 'add_new'%}">Add New</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <h4 class="form-control my-sm-0">Username </h4>
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form>
  </div>
        <li class="nav-item">
        <a class="text-center alert alert-danger" href="{%url 'logout'%}">Log Out</a>
      </li>
</nav>

</head>
<body>
<div class="container">
     <h4 class="text-center alert alert-danger"> Contents </h4>

<a href="{% url 'add_new'%}" class="btn btn-info"> Create new dairy</a>
    <br><br>
    <div class="row">
        <div class="text-center">
                <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Creation Date</th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in dairy %}
                        <tr>
                            <th>{{d.id}}</th>
                            <td>{{d.title}}</td>
                            <td>{{d.created_on}}</td>
                            <td>
                                <a href="{%url 'edit' d.id%}" class="btn btn-success">Edit</a>
                                <a href="{%url 'delete' d.id%} " class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
    <script src="{%static 'dairy/js/jquery.js' %}"></script>
    <script src="{% static 'dairy/js/popper.js' %}"></script>
    <script src="{% static 'dairy/js/bootstrap.min.js' %}"></script>
</body>
</html>