<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <table style="text-align:center; width:80%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Creation Date</th>
            <th> Action </th>
        </tr>
        </thead>
        <tbody>
            {% for d in dairy %}
                <tr>
                    <th>{{d.id}}</th>
                    <td>{{d.title}}</td>
                    <td>{{d.created_on}}</td>
                    <td>
                        <a href="{%url 'edit' d.id%}">Edit</a>
                        <a href="{%url 'delete' d.id%}">Delete</a>
                    </td>
                </tr>
             {% endfor %}
        </tbody>
    </table>
</body>
</html>