<!DOCTYPE html>

{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <link rel="icon" type="image/x-icon" href="{% static 'dairy/images/favicon.ico' %}">
       <link rel="stylesheet" href="{% static 'dairy/css/bootstrap.min.css' %}">
    <style>

        li{margin:2px;
        padding:5px;
        font-weight:bold;}
        #table{
        width: 90%;}
    </style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/" >Dairy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{%url 'dashboard'%}">Dashboard</a>
                  </li>

                  <li class="nav-item">
                      {% if user.is_authenticated %}
                        <a class="nav-link" href="{%url 'add'%}">Add New</a>
                      {% else%}
                         <a class="nav-link" href="{%url 'register'%}">Register</a>
                      {% endif%}
                  </li>
                </ul>
            <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

                    <li class="nav-item" style="list-style:none">
                          {% if user.is_authenticated %}
                         <a class="alert alert-warning">{{user.email}}</a>
                            {% else%}
                        <a class="alert alert-warning" href="{%url 'login'%}">Log In</a>
                    </li>
                    {% endif %}
              <li class="nav-item" style="list-style:none">
                <a class="alert alert-danger disabled" href="{% url 'logout'%}">Log Out</a>
              </li>
          </div>
    </nav>
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="table" class="text-center">
                <h1 class="alert alert-info">Dairy's </h1>

                <table class="table table-hover">
                    <thead>
                        <th>Title</th>
                        <th>Created on</th>
                        <th>Details</th>
                        <th>Action</th>
                    </thead>
                        <tbody>

                        {%for d in dairy%}
                            <tr>
                                <td>{{d.title}}</td>
                                <td>{{d.created_on}}</td>
                                <td><a href="{%url 'details' d.id%}">Click Here</a></td>
                                <td>
                                    <a href="{%url 'edit' d.id%}" class="btn btn-warning">Edit</a>
                                    <a href="{%url 'delete' d.id%}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {%endfor%}

                        </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static 'dairy/js/jquery.js' %"></script>
    <script src="{% static 'dairy/js/popper.js' %}"></script>
    <script src="{% static 'dairy/js/bootstrap.min.js' %"></script>


</body>
</html>