<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dairy's</title>
    <link rel="stylesheet" href="{% static 'dairy/css/bootstrap.min.css' %}">
</head>
<body>
 <div class="container text-center">
     <h4> This is a Dairy portal</h4>
<a href="{% url 'add_new'%}" class="btn btn-info"> Create a dairy</a>

 </div>
    <script src="{%static 'dairy/js/jquery.js' %}"></script>
    <script src="{% static 'dairy/js/popper.js' %}"></script>
    <script src="{% static 'dairy/js/bootstrap.min.js' %}"></script>
</body>
</html>