<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate pdf</title>
    <link rel="stylesheet" href="{% static 'dairy/css/bootstrap.min.css' %}">
<!--    <link rel="stylesheet" href="{% static 'dairy/css/stylesheet.css' %}">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <style>
        .description{
        margin-top: 50px;
        }

h1{
display:inline
}
h6{
display:inline
}

 .heading{
 color: darkblue
 }

.header{margin-top:100px;}

.logo{
float: left;
width: 150px;
font-family: "Sofia";
font-size: 22px;
background-color: #ff1aff;
color:#1affff;
border-radius: 30px;
padding: 5px;
}
.description{
color: #171617;
font-size:20px;}

#foot{
margin-top:50px;
color:#7c4a68;}

    </style>

</head>
<body>
    <div class="container text-center alert alert-info">
        <div >
            <h4 class="logo">Datta Dairy</h4>
        </div>
    <div class="form-group">
        <div class="header">
            <h1 class="heading"> Title: <h1 style="color: black"> {{dairy.title}}</h1></h1>
        </div>
        <div class="creation">
            <h6 class="heading">Creation Date: <h6 style="color: black">{{dairy.created_on}}</h6></h6></h6>
        </div>
        <div class="description">
            <h1 class="heading">Description</h1><hr>
            <p class="description">{{dairy.description}}</p>
        </div>
    </div>
        <p class="alert alert-warning" id="foot">&#128104;&#8205;&#128187;Developed by Plabon Datta.  &#127968; BSc in CSE at DIU.</p>
</div>

<script src="{% static 'dairy/js/jquery.js' %"></script>
<script src="{% static 'dairy/js/popper.js' %}"></script>
<script src="{% static 'dairy/js/bootstrap.min.js' %"></script>

</body>

</html>