<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update dairy</title>
    <link rel="stylesheet" href="{% static 'dairy/css/bootstrap.min.css' %}">
</head>
<body>
<h4 class="text-center alert alert-warning"> Update your dairy</h4>

        <form action="" method="post" >
            <div class=" form-group text-center">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Update" class="btn btn-success">
         </div>
        </form>

    <script src="{%static 'dairy/js/jquery.js' %}"></script>
    <script src="{% static 'dairy/js/popper.js' %}"></script>
    <script src="{% static 'dairy/js/bootstrap.min.js' %}"></script>
</body>
</html>